.comment {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000; /* ボックスを追加 */
    background-color: #f8f8f8; /* 背景色を追加 */
    display: inline-block; /* ボックスをテキストに合わせてサイズ変更 */
    width: auto; /* 幅を自動調整 */
}

.admin {
    background-color: yellow;
}
